html{
    -webkit-tap-highlight-color: transparent;
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Kumbh Sans',sans-serif;
    max-width: 71rem;
    margin: 0 auto;
}


header{
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0 1.4rem;
}


header img{
    width: 100%;
}

header>div:not(.cart-notif,.curtain,.menu-box){
    width: 1.4rem;
    height: 1.4rem;
    cursor: pointer;
}


header .menu{
    width: 1rem;
}

.cart{
    margin-left: auto;
    margin-right: 1rem;
    margin-top: .4rem;
    align-self: flex-start;
}
.cart:active path{
    fill: hsl(220, 13%, 13%);
}
.cart-notif{
    position: relative;
    z-index: 10;
    top: .5rem;
    left: .4rem;
    background-color: hsl(26, 100%, 55%);
    width: fit-content;
    padding: .15rem .4rem;
    font-size: .5rem;
    font-weight: 700;
    border-radius: 1rem;
    color: white;
    margin: 0 auto;
}

header img[src*=logo]{
    width: 9rem;
    margin-bottom: .2rem;
    margin-left: 1rem;
}

.avatar {
    border:2px solid transparent;
    border-radius: 50%;
    padding: 0;
}
.avatar:active{
    border-color: hsl(26, 100%, 55%);
}

.no-display{
    display: none !important;
}
.no-visible{
    visibility: hidden;
}
.curtain{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    height: 145%;
    background-color: rgba(11, 11, 11, 0.7);
}
.menu-box{
    position: absolute;
    z-index: 20;
    left: -100%;
    top:0;
    height: 145%;
    width: 19rem;
    padding-left: 1.5rem;
    background-color: white;
    cursor:default;
    transition: left .7s ease-out;
}
.menu-box>div{
    margin-top: 1.5rem;
    width: 1.1rem;
    cursor: pointer;
}

.menu-box ul{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding-top: 3rem;
    list-style: none;
}
.menu-box ul li{
    width: fit-content;
}
.menu-box a{
    text-decoration: none;
    color: hsl(220, 13%, 13%);
    font-weight: 700;
    font-size: 1.3rem;
    margin: 0;
}

.basket{
    background-color: white;
    width: 22.5rem;
    height: 16.5rem;
    box-shadow: 0 5px 40px -10px rgb(52, 51, 51);
    position: absolute;
    right: .5rem;
    top: 5rem;
    border-radius: .7rem;
}
.word-cart{
    height: 27%;
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
    border-bottom: hsl(220, 14%, 75%) 1px solid;
    font-weight: 700;
}
.empty-cart-style{
    font-weight: 700;
}
.inner-basket{
    height: 73%;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: hsl(219, 9%, 45%);
}
.order{
    display: flex;
    align-items: center;
    gap: 1rem;
    
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
#total{
    font-weight: 700;
    color: hsl(220, 13%, 13%);
}
.order img:first-of-type{
    width: 3.2rem;
    height: 3.2rem;
    border-radius: .5rem;
}
#checkoutBtn{
    outline: none;
    border: none;
    border-radius: .5rem;
    height: 3.2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: .9rem;
    background-color: hsl(26, 100%, 55%);
    cursor: pointer;
}
#checkoutBtn:active{
    background-color: hsl(26, 99%, 35%);
}
img[src*=delete]{
    cursor:pointer;
}

.product-modal{
    display: none;
}
.productImg{
    height: 17rem;
    background-image: url(images/image-product-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.main-img,.img-selection{
    display: none;
}
.arrows{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}
.arrows:active path{
    stroke: hsl(26, 100%, 55%);
}


.purchase-box{
    padding: 0 1.4rem;
}

.purchase-box .company{
    padding: 1rem 0;
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: .05rem;
    color: hsl(26, 100%, 55%);
}

.purchase-box h1{
    width: 80%;
    font-size: 1.7rem;
    padding-bottom: 1rem;
    color:  hsl(220, 13%, 13%);
}

.purchase-box p{
    color: hsl(219, 9%, 45%);
    padding-bottom: 1.4rem;
    font-size: .9rem;
    line-height: 1.55;
    max-width: 25rem;
}

.price-box{
    display: flex;
    align-items: center;
    padding-bottom: 1.7rem;

}
.price-discount{
    display: flex;
    align-items: center;
}
.price{
    font-weight: 700;
    color: hsl(220, 13%, 13%);
    font-size: 1.8rem;
}
.dis-rate{
    padding: .3rem .5rem;
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    border-radius: .3rem;
    font-weight: 700;
    margin-left: 1rem;
    font-size: .9rem;
}
.discount{
    margin-left: auto;
    text-decoration: line-through;
    color: hsl(220, 14%, 75%);
    font-weight: 700;
}

.add-remove{
    background-color: hsl(223, 64%, 98%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: .7rem;
    font-weight: 700;
}
.add-remove div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
}
.add-remove div:active{
    opacity: 60%;
}



#addCart{
    margin-top: .7rem;
    margin-bottom: 2rem;
    outline: none;
    border: none;
    width: 100%;
    background-color: hsl(26, 100%, 55%);
    color: white;
    padding: 1rem 0;
    border-radius: .5rem;
    font-weight: 700;
    font-size: .9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    cursor: pointer;
}
#addCart:active{
    opacity: 60%;
}
#addCart img{
    width: .9rem;
}

@media screen and (min-width:430px){
    .price-box{
        flex-direction: column;
        align-items: flex-start;
        gap: .5rem;
    }
    .discount{
        margin: 0;
    }
    .add-remove{
        max-width: 21rem;
        margin: 0 auto;
    }
    .productImg{
        height: 23rem;
    }
}

@media screen and (min-width:615px){
    .purchase-box{
        padding: 0 5rem;
    }

    .add-cart-box{
        display: flex;
        gap: 1rem;
        align-items: center;
        border: black 1px;
        padding-bottom: 2rem;
    }

    .add-remove{
        width: 35%;
        padding: 1rem .5rem;
    }
    #addCart{
        width: 65%;
        margin: 0;
        height: 3.5rem;
        box-shadow: 0 30px 20px hsl(25, 100%, 94%);
    }

    .productImg{
        background-image: none !important;
        width: 60%;
        height: fit-content;
        padding: 0;
        margin: 1rem auto;
        gap: 2rem;
    }
    .productImg .arrows{
        display: none;
    }
    .main-img,.main-img-m{
        display: block;
        height: 27rem;
        width: 100%;
        border-radius: .7rem;
        background-image: url(images/image-product-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        cursor: pointer;
    }
    .img-selection,.img-selection-m{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 27rem;
    }
    .selected-img-filter{
        width: 100%;
        height: 100%;
        border-radius: .4rem;
        background-color: white;
        opacity: 70%;
    }
    .selected-img-border{
        border: 2px solid hsla(26, 100%, 55%,100%);
        
    }
    .selection-imgs{
        border-radius: .5rem;
        width: 5.4rem;
        height: 5.4rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: rgba(255, 255, 255,.5);
        cursor: pointer;
    }
    .selection-imgs:active{
        background-blend-mode:  soft-light;
    }

    .img-selection>div:nth-child(1),.img-selection-m>div:nth-child(1){
        background-image: url(images/image-product-1-thumbnail.jpg);
    }
    .img-selection>div:nth-child(2),.img-selection-m>div:nth-child(2){
        background-image: url(images/image-product-2-thumbnail.jpg);
    }
    .img-selection>div:nth-child(3),.img-selection-m>div:nth-child(3){
        background-image: url(images/image-product-3-thumbnail.jpg);
    }
    .img-selection>div:nth-child(4),.img-selection-m>div:nth-child(4){
        background-image: url(images/image-product-4-thumbnail.jpg);
    }


    
    .product-modal{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        height: 148.5%;
        background-color: rgba(11, 11, 11, 0.7); 
        display: flex;
        justify-content: center;
        align-items: center; 
    }
  
    .inner-modal{
        width: 75%;
        height: fit-content;
        display: flex;
        max-width: 37rem;
        height: fit-content;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .close-m{
        margin-left: auto;
        margin-bottom: 1.5rem;
        cursor: pointer;
    }
    .close-m svg{
        transform: scale(1.6,1.8);
    }
    .close-m:active path{
        fill: hsl(26, 100%, 55%);
    }
    .main-img-m{
        height: 34rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2.5rem;
        cursor: default;
    }
    .arrows{
        padding: .6rem;
    }
    .left-arrow{
        position: relative;
        left: -1.2rem;
    }
    .right-arrow{
        position: relative;
        right: -1.2rem;
    }
    .img-selection-m{
        width: 80%;
        height: fit-content;
        flex-direction: row;
        margin: 0 auto;
    }

}









@media screen and (min-width:826px){
    .curtain{display: none;}
    header{
        height: 8rem;
        padding: 0;
        margin: 0 1rem;
        border-bottom: 1px solid hsl(220, 14%, 75%);
    }
    header img[src*=logo]{
        width: 10rem;
        margin: 0;
        padding: 0;
    }
    .menu{
        display: none;
    }
    .avatar{
        width: 3rem !important;
        height: 3rem !important;
    }
    .cart{
        margin-right: 2.5rem;
        margin-top: 2.2rem;
    }
    .menu-box{
        position: static;
        height: 100%;
        width: 50%;
        max-width: 30rem;
        margin-left: 3rem;
        z-index: 0;

    }
    #menuList{
        flex-direction: row;
        gap: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        justify-content: space-between;
    }
    #closeMenu{
        display: none;
    }
    .menu-box li{
        height: 98%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .underline{
        display: block;
        position: relative;
        top: 3.3rem;
        width: 0;
        height: 4px;
        background-color: hsl(26, 100%, 55%);
        margin: 0 auto;
        transition: width .4s ease-out;
    }
    .menu-box a:hover+.underline{
        width: 100%;
    }
   

    .menu-box a{
        text-decoration: none;
        color: hsl(219, 9%, 45%);
        font-weight: 400;
        font-size: 1rem;
        margin: 0;
    }
    .menu-box a:active{
        color: hsl(220, 13%, 13%);
    }

    main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        padding: 6rem 4rem;
        margin: 0 auto;
    }
    .productImg{

        max-width: 27rem;
        height: fit-content;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }


    .img-selection{
        width: 100%;
        height: fit-content;
        flex-direction: row;
    }

    .purchase-box{
        width: 50%;
        max-width: 28rem;
        padding: 0;
    }
    .purchase-box .company{
        font-size: .7rem;
        letter-spacing: .2rem;
        padding-bottom: .7rem;
    }
    .purchase-box h1{
        font-size: 2.5rem;
        width: 100%;
        padding-bottom: 2rem;
    }
    .purchase-box p{
        line-height: 1.6;
    }
    .price-box{
        padding-bottom: 2.7rem;
    }

    .add-cart-box{
        display: flex;
        gap: 1rem;
        align-items: center;
        border: black 1px;
    }

    .basket{
        box-shadow: 0 20px 50px -25px rgb(78, 77, 77);
        right: 2.65rem;
        top: 6rem;
    }
}


